<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>
<p>
  <strong>Recipe:</strong>
  <%= @recipe.recipe %>
</p>
<p>
	<strong>Image:</strong>
	<img src="<%= @recipe.image.url(:medium) %>">
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
